<div class="card">
  <div class="card-header text-dark">
    Passing Score Subject
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="ShowModalAdd()">Add</button>
    </div>

    <!-- ADD Modal -->
    <div bsModal #modalAdd="bs-modal" class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Passing Score Subject</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select [(ngModel)]="examsubject.id" name="inputExamSubject" id="inputExamSubject" class="form-control">
                    <option *ngFor="let examsubject of examsubjects" [value]="examsubject.id" selected>{{examsubject.examName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMajor">Major</label>
                  <select [(ngModel)]="major.id" name="inputMajor" id="inputMajor" class="form-control">
                    <option *ngFor="let major of majors" [value]="major.id" selected>{{major.majorName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassingScore">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputPassingScore" [(ngModel)]="scoreexam.scorePass"
                      name="inputPassingScore" placeholder="Enter Passing Score">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMaxScore">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputMaxScore" [(ngModel)]="scoreexam.sumScore" name="inputMaxScore"
                      placeholder="Enter Maximum Score">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-success" (click)="add()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END ADD Modal  -->
    <!-- EDIT MODAL-->
    <div bsModal #modalEdit="bs-modal" class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Passing Score Subject</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select [(ngModel)]="scoreexam.exaM_ID" name="inputExamSubject" id="inputExamSubject" class="form-control">
                    <option *ngFor="let examsubject of examsubjects" [value]="examsubject.id" selected>{{examsubject.examName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputYear">Major</label>
                  <select [(ngModel)]="scoreexam.majoR_ID" name="inputMajor" id="inputMajor" class="form-control">
                    <option *ngFor="let major of majors" [value]="major.id" selected>{{major.majorName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDateTime">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputDateTime" [(ngModel)]="scoreexam.scorePass" name="inputPassingScore">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDateTime">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputDateTime" [(ngModel)]="scoreexam.sumScore" name="inputMaxScore">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="update(scoreexam.id)">Update</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END EDIT   -->
    <!-- DELETE Modal -->
    <div bsModal #modalDelete="bs-modal" class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Passing Score Subject</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select [(ngModel)]="scoreexam.exaM_ID" name="inputExamSubject" id="inputExamSubject" class="form-control"
                    disabled>
                    <option *ngFor="let examsubject of examsubjects" [value]="examsubject.id" selected>{{examsubject.examName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMajor">Major</label>
                  <select [(ngModel)]="scoreexam.majoR_ID" name="inputMajor" id="inputMajor" class="form-control"
                    disabled>
                    <option *ngFor="let major of majors" [value]="major.id" selected>{{major.majorName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassingScore">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputPassingScore" name="inputPassingScore" value="{{scoreexam.scorePass}}"
                      readonly>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMaxScore">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputMaxScore" name="inputMaxScore" value="{{scoreexam.sumScore}}"
                      readonly>
                  </div>
                </div>
              </div>
            </form>
            <p class="text-danger">Are you sure delete this Passing Score Subject?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-danger" (click)="delete(scoreexam.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END DELETE -->
    <!-- DETAIL Modal -->
    <div bsModal #modalDetail="bs-modal" class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Passing Score Subject Detail</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select [(ngModel)]="scoreexam.exaM_ID" name="inputExamSubject" id="inputExamSubject" class="form-control"
                    disabled>
                    <option *ngFor="let examsubject of examsubjects" [value]="examsubject.id" selected>{{examsubject.examName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMajor">Major</label>
                  <select [(ngModel)]="scoreexam.majoR_ID" name="inputMajor" id="inputMajor" class="form-control"
                    disabled>
                    <option *ngFor="let major of majors" [value]="major.id" selected>{{major.majorName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassingScore">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputPassingScore" name="inputPassingScore" value="{{scoreexam.scorePass}}"
                      readonly>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMaxScore">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputMaxScore" name="inputMaxScore" value="{{scoreexam.sumScore}}"
                      readonly>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN TABLE -->
  <div class="card-body table-responsive">
    <table class="table table-striped display" id="myTable">
      <thead class="bg-color">
        <tr class="text-white">
          <th scope="col">No</th>
          <th scope="col">Exam Subject</th>
          <th>Major </th>
          <th>Passing Score</th>
          <th>Sum Score</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scoreexam of scoreexams; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{scoreexam.examSubject.examName}}</td>
          <td>{{scoreexam.major.majorName}}</td>
          <td>{{scoreexam.scorePass}}</td>
          <td>{{scoreexam.sumScore}}</td>
          <td><a href="#" (click)="ShowModalDetail($event,scoreexam.id)" class="text-warning">Detail</a> |
            <a href="#" (click)="ShowModalEdit($event,scoreexam.id)">Edit</a> |
            <a href="#" (click)="ShowModalDelete($event,scoreexam.id)" class="text-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
