<div class="card">
  <div class="card-header text-dark">
    Passing Score Subject
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" data-toggle="modal" data-target="#add">Add</button>
    </div>

    <!-- ADD Modal -->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Passing Score Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select id="inputExamSubject" class="form-control">
                    <option value="" selected>Choose..</option>
                    <option value="">...</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMajor">Major</label>
                  <select id="inputMajor" class="form-control">
                    <option value="" selected>IT</option>
                    <option value="">BA</option>
                    <option value="">GE</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassingScore">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputPassingScore" placeholder="Enter Passing Score">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMaxScore">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputMaxScore" placeholder="Enter Maximum Score">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END ADD Modal  -->
    <!-- EDIT MODAL-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Passing Score Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputDateTime">Score of Exam Subject</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputDateTime" value="isc07 test">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputYear">Major</label>
                  <select id="inputYear" class="form-control">
                    <option value="" selected>IT</option>
                    <option value="">BA</option>
                    <option value="">GE</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDateTime">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputDateTime" value="40">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDateTime">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputDateTime" value="100">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END EDIT   -->
    <!-- DELETE Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Passing Score Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-danger">Are you sure delete this Passing Score Subject?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END DELETE -->
    <!-- DETAIL Modal -->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Passing Score Subject Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputExamSubject">Exam Subject</label>
                  <select id="inputExamSubject" class="form-control" disabled>
                    <option value="" selected>Choose..</option>
                    <option value="">...</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputMajor">Major</label>
                  <select id="inputMajor" class="form-control" disabled>
                    <option value="" selected>IT</option>
                    <option value="">BA</option>
                    <option value="">GE</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassingScore">Passing Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputPassingScore" placeholder="Enter Passing Score" readonly>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMaxScore">Maximum Score</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputMaxScore" placeholder="Enter Maximum Score" readonly>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN TABLE -->
  <div class="card-body table-responsive">
    <table class="table table-striped display" datatable>
      <thead class="bg-color">
        <tr class="text-white">
          <th scope="col">No</th>
          <th scope="col">Exam Subject</th>
          <th>Major </th>
          <th>Passing Score</th>
          <th>Maximum Score</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>GE Final Exam</td>
          <td>IT</td>
          <td>40</td>
          <td>100</td>
          <td><a href="" data-target="#detail" data-toggle="modal" class="text-warning">Detail</a> |
            <a href="" data-target="#edit" data-toggle="modal">Edit</a> |
            <a href="" data-target="#delete" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
