<div class="card">
  <div class="card-header text-dark">
    Candidate Type
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" data-toggle="modal" data-target="#addCandidateType">Add</button>
    </div>

    <!-- add -->
    <div class="modal fade" id="addCandidateType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Candidate Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputCandidateType">Candidate Type Name</label>
                  <input type="text" class="form-control mb-2" id="inputExamTime" placeholder="Enter New Candidate Type Name">
                </div>

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- edit -->
    <div class="modal fade" id="editCandidateType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Candidate Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputMajorName" class="col-sm-5 col-form-label">Candidate Type Name:</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="inputMajorName" value="Miễn Thi Toán">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>

    <!-- delete -->
    <div class="modal fade" id="deleteCandidateType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Candidate Type Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputCandidateType" class="col-sm-5 col-form-label">Candidate Type name:</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="inputCandidateType" value="Miễn Thi Toán" readonly>
                </div>
              </div>
            </form>
            <p class="text-danger">Are you sure delete this Candidate Type?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Details -->
    <div class="modal fade" id="detailCandidateType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Candidate Type Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputCandidateType" class="col-sm-5 col-form-label">Candidate Type name:</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="inputCandidateType" value="Miễn Thi Toán" readonly>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped table-hover display" datatable>
      <thead class="bg-color text-white">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Candidate Type Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-toggle="modal">
          <th scope="row">1</th>
          <td>Miễn Thi English</td>

          <td><a href="" data-target="#detailCandidateType" data-toggle="modal" class="text-warning">Details</a>
            | <a href="" data-target="#editCandidateType" data-toggle="modal">Edit</a>
            | <a href="" data-target="#deleteCandidateType" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
        <tr data-toggle="modal">
          <th scope="row">1</th>
          <td>Miễn Thi Toán</td>

          <td><a href="" data-target="#detailCandidateType" data-toggle="modal" class="text-warning">Details</a>
            | <a href="" data-target="#editCandidateType" data-toggle="modal">Edit</a>
            | <a href="" data-target="#deleteCandidateType" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
        <tr data-toggle="modal">
          <th scope="row">1</th>
          <td>Miễn Thi Văn</td>

          <td><a href="" data-target="#detailCandidateType" data-toggle="modal" class="text-warning">Detail</a>
            | <a href="" data-target="#editCandidateType" data-toggle="modal">Edit</a>
            | <a href="" data-target="#deleteCandidateType" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
