<div class="card">
  <div class="card-header text-dark">
    Major
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="ShowModalAdd()">Add</button>
    </div>

    <!-- add -->
    <div bsModal #modalAdd="bs-modal" class="modal fade" id="addMajor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Major</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputCountryName" class="col-sm-4 col-form-label">Major Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="inputCountryName" id="inputCountryName" placeholder="Enter New Major Name" [(ngModel)]="major.majorName">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-success" (click)="add()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- edit -->
    <div bsModal #modalEdit="bs-modal" class="modal fade" id="editMajor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Major</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputMajorName" class="col-sm-4 col-form-label">Major Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputMajorName" [(ngModel)]="major.majorName" name="inputMajorName">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="update(major.id)">Update</button>
          </div>
        </div>
      </div>
    </div>

    <!-- delete -->
    <div bsModal #modalDelete="bs-modal" class="modal fade" id="deleteMajor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="MajorModalLabel">Delete Major</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputMajorName" class="col-sm-4 col-form-label">Major Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="inputCountryName" id="inputCountryName" [(ngModel)]="major.majorName" readonly>
                </div>
              </div>
            </form>
            <p class="text-danger">Are you sure delete this Major?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="delete(major.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Details -->
    <div bsModal #modalDetail="bs-modal" class="modal fade" id="detailMajor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Major Detail</h5>
            <button type="button" class="close" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputCountryName" class="col-sm-4 col-form-label">Major Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputCountryName" value="{{major.majorName}}" readonly>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped table-hover display" id="myTable">
      <thead class="bg-color text-white">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Major Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let major of majors; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{major.majorName}}</td>
          <td>
            <!-- <a href="" (click)="ShowModalDetail($event,major.id)" class="text-warning">Detail</a> -->
            <a href="" (click)="ShowModalEdit($event,major.id)">Edit</a>
            | <a href="" class="text-danger" (click)="ShowModalDelete($event,major.id)" class="text-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
