<div class="card">
  <div class="card-header text-dark">
    Catalog
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="ShowModalAdd()">Add</button>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped text-left display" id="myTable">
      <thead class="text-white">
        <tr class="bg-color">
          <th scope="col">No.</th>
          <th scope="col">Catalog</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalog of catalogs; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{catalog.beginYear}} - {{catalog.endYear}}</td>
          <td> <a href="#" (click)="ShowModalDetail($event,catalog.id)" class="text-warning">Detail</a>
            | <a href="#" (click)="ShowModalEdit($event,catalog.id)" >Edit</a>
            | <a href="#" (click)="ShowModalDelete($event,catalog.id)" class="text-danger">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- view catalog-->
<div bsModal #modalDetail="bs-modal" class="modal fade" id="viewcatalog" tabindex="-1" role="dialog" aria-labelledby="NationAddLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NationpleModalLabel">Catalog Detail</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputCatalogName" class="col-sm-4 col-form-label">Begin Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCatalogName" value="{{catalog.beginYear}}" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCatalogName" class="col-sm-4 col-form-label">End Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCatalogName" value="{{catalog.endYear}}" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- add catalog-->
<div bsModal #modalAdd="bs-modal" class="modal fade" id="catalogadd" tabindex="-1" role="dialog" aria-labelledby="NationAddLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NationpleModalLabel">New Catalog</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputCatalogName" class="col-sm-4 col-form-label">Begin Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCatalogbeginYear" [(ngModel)]="catalog.beginYear" name="inputCatalogName" placeholder="Enter New Begin Year">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCatalogName" class="col-sm-4 col-form-label">End Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCatalogendYear" [(ngModel)]="catalog.endYear" name="inputCatalogName" placeholder="Enter New End Year">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-success" (click)="add()">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- edit -->
<div bsModal #modalEdit="bs-modal" class="modal fade" id="editcatalog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Catalog</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputCatalogName" class="col-sm-4 col-form-label">Begin Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCatalogName" name="inputCatalogName" [(ngModel)]="catalog.beginYear">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEndYear" class="col-sm-4 col-form-label">End Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputEndYear" name="inputEndYear" [(ngModel)]="catalog.endYear">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="update(catalog.id)">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- delete -->
<div bsModal #modalDelete="bs-modal" class="modal fade" id="deletecatalog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Catalog</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="inputBeginYear" class="col-sm-4 col-form-label">Begin Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputBeginYear" name="inputBeginYear" [(ngModel)]="catalog.beginYear" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEndYear" class="col-sm-4 col-form-label">End Year </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputEndYear" name="inputEndYear" [(ngModel)]="catalog.endYear" readonly>
            </div>
          </div>
        </form>
        <p class="text-danger">Are you sure delete this Catalog?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete(catalog.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
