<div class="card">
  <div class="card-header text-dark">
    Exam Subject
    <div class="ml-auto d-inline float-right">
      <button type="button" class="btn btn-primary btn-sm ml-auto" data-toggle="modal" data-target="#add">Add</button>
    </div>

    <!-- ADD MODAL -->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Exam Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputExamName" class="col-sm-4 col-form-label">Exam Subject Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputExamName" value="Enter New Exam Subject Name">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- EDIT MODAL -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Exam Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputExamName" class="col-sm-4 col-form-label">Exam Subject Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputExamName" value="GE Final Exam">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>

    <!-- DELETE MODAL -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Exam Subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputExamName" class="col-sm-4 col-form-label">Exam Subject Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputExamName" value="GE Final Exam" readonly>
                </div>
              </div>
            </form>
            <p class="text-danger">Are you sure delete this Exam subject?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END DELETE -->
    <!-- DETAIL MODAL -->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Exam Subject Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputExamSubjectName" class="col-sm-4 col-form-label">Exam Subject Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputExamSubjectName" value="Enter New Exam Subject Name"
                    readonly>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main table -->
  <div class="card-body table-responsive">
    <table class="table table-striped display" datatable>
      <thead class="bg-color">
        <tr class="text-white">
          <th scope="col">No</th>
          <th scope="col">Exam Subject</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>GE Final Exam</td>
          <td>
            <a href="" data-target="#detail" data-toggle="modal" class="text-warning">Detail</a> |
            <a href="" data-target="#edit" data-toggle="modal">Edit</a> |
            <a href="" data-target="#delete" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>DataBase Final Exam</td>

          <td>
            <a href="" data-target="#detail" data-toggle="modal" class="text-warning">Detail</a> |
            <a href="" data-target="#edit" data-toggle="modal">Edit</a> |
            <a href="" data-target="#delete" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Front End Final Exam</td>

          <td>
            <a href="" data-target="#detail" data-toggle="modal" class="text-warning">Detail</a> |
            <a href="" data-target="#edit" data-toggle="modal">Edit</a> |
            <a href="" data-target="#delete" data-toggle="modal" class="text-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
